# This is the code owners' file
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*     @Sea-BirdScientific/electrical-engineering
*     @Sea-BirdScientific/hypernav
*     @Sea-BirdScientific/production-engineering
*     @Sea-BirdScientific/science-team
*     @Sea-BirdScientific/software
