[MASTER]
ignore=interpret_sbs_variable.py
init-hook='import sys; sys.setrecursionlimit(8 * sys.getrecursionlimit())'

[MESSAGES CONTROL]
disable=too-many-arguments,
        too-many-positional-arguments,
        too-many-locals,
        too-many-lines,
        too-few-public-methods,
        too-many-instance-attributes,
        fixme,