[project]
name = "seabirdscientific"
version = "2.5.3"
description = "Sea-Bird Scientific Community Toolkit"
readme = "README.md"
authors = [
    {name = "Sea-Bird Scientific", email = "techsupport@seabird.com"},
    {name = "Ryan Anderson", email = "randerson@seabird.com"},
    {name = "Lukas Christensen", email = "lchristensen@seabird.com"},
    {name = "Dane Lucas", email = "dlucas@seabird.com"},
    {name = "Eric Rehm", email = "erehm@seabird.com"},
    {name = "Bruce Rhoades", email = "brhoades@seabird.com"},
    {name = "Jesse Templin", email = "jtemplin@seabird.com"},
]
requires-python = ">=3.9"
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
dependencies = [
  "gsw",
  "matplotlib",
  "numpy",
  "pandas",
  "plotly>=6.0.0",
  "scipy",
]
[project.optional-dependencies]
dev = [
  "black",
  "build",
  "mypy",
  "nbformat",
  "notebook",
  "pre-commit",
  "pylint",
  "pytest",
  "pytest-cov",
  "twine",
]

[project.urls]
Homepage = "https://www.seabird.com/software"
Repository = "https://github.com/Sea-BirdScientific/seabirdscientific"

[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "setuptools>=61",
]

[tool.black]
line-length=99

[tool.mypy]
disable_error_code = ["import-untyped"]

[tool.pytest.ini_options]
addopts = "--cov=seabirdscientific --cov-report term-missing"

[tool.coverage.run]
omit = [
  "interpret_sbs_variable.py"
]
