[project]
name = "seabirdscientific"
version = "1.0.6"
description = "Sea-Bird Scientific Community Toolkit"
readme = "README.md"
authors = [
    {name = "Sea-Bird Scientific"},
    {name = "Ryan Anderson", email = "randerson@seabird.com"},
    {name = "Lukas Christensen", email = "lchristensen@seabird.com"},
    {name = "Dane Lucas", email = "dlucas@seabird.com"},
    {name = "Eric Rehm", email = "erehm@seabird.com"},
    {name = "Bruce Rhodes", email = "brhodes@seabird.com"},
    {name = "Jesse Templin", email = "jtemplin@seabird.com"},
]
requires-python = ">=3.9"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
dependencies = [
  "gsw",
  "matplotlib",
  "numpy",
  "pandas",
  "plotly",
  "scipy",
]
[project.optional-dependencies]
dev = [
  "notebook",
  "pytest",
  "black",
  "nbformat",
  "twine",
  "build",
]

[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "setuptools>=61",
]

[tool.black]
line-length=120